.error{
    color:rgb(185, 35, 35);
    display: block;
    background-color: rgb(233, 239, 210);
    border: 3px solid rgb(240, 7, 7);
    padding: 5px;
}

.success{
    color:rgb(7, 124, 7);
    display: block;
    background-color: rgb(154, 207, 193);
    border: 3px solid green;
    padding: 5px;

    
}